html{
	font-family: solomon_sans_boldbold;
}

.widget {
	height: 240px;
	border: 2px solid #e7ecef;
	border-radius: 10px;
}

.widgetHeader {
	margin-top: 10px;
	margin-left: 15px;
	margin-bottom: 20px;
	height: 10px;
}

.widgetHeader li {
	display: inline;
}

.widgetInfo{
	float: left;
	margin-top: -12px;
	margin-left: -40px;
}

.participant{
	display: inline-block;
	position: relative;
}

.participant img {
	height: 30px;
	width: 30px;
	border-radius: 20px;
	border: 1px solid #ffffff;
}

#participantOne {
	z-index: 0;
}

#participantTwo {
	z-index: 1;
	margin-left: -10px;
}

.lisnSesh {
	position: relative;
	top: -8.5px;
	display: inline-block;
	font-size: 18px;
	margin-left: 10px;
	color: rgb(188, 198, 204);
}

.numberOfTracks {
	position: relative;
	top: -8.4px;
	display: inline-block;
	text-transform: uppercase;
	margin-left: 5px;
	font-size: 10px;
	color: rgb(188, 198, 204);
}

.downloadLink {
	display: inline-block;
	margin-right: 10px;
	font-size: 12px;
	float: right;
	text-transform: uppercase;
}

.downloadLink a {
	color: rgb(74, 144, 226);
	text-decoration: none;
}

.trackList {
	list-style-type: none;
	padding: 0;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	white-space: nowrap;
}

::-webkit-scrollbar {
	display: none;
}

.trackListContainer {
	width: 100%;
	margin-top: 15px;
	clear: both;
}

.artworkContainer{
	display: inline-block;
	width: 180px;
	height: auto;
	position: relative;
	margin-right: -4px;
	animation: .15s ease-in-out;
	padding-right: 10px;
}

.artworkContainer:hover .playButton{
	display: block;
}

.artworkContainer:not(hover) .playButton{
	display: none;
}

#firstContainer {
	margin-left: 17.5px;
}

.albumArt {
	width: 180px;
	height: 180px;
}

.albumArt img{
	width: 180px;
	height: 180px;
}

.artworkGradient{
	position: absolute;
	top: 100px;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,
		rgba(255,255,255,1) 65%,rgba(255,255,255,1) 100%);
	width: 100%;
	height: 80px;
	z-index: 1;
}

.streamingService img{
	position: absolute;
	top: 5px;
	left: 5px;
	width: 30px;
	height: auto;
}

.streamingService a img:active{
	transform: scale(0.9);
}

.playButton{
	position: absolute;
	width: 20px;
	height: 24px;
	top: 75px;
	left: 75px;
	transition: .15s ease-in-out;
}

.playButton:hover {
	transform: scale(1.1);
}

.pauseButton {
	position: absolute;
    width: 20px;
	height: 24px;
	top: 72px;
	left: 70px;
	display: none;
}

.pauseButton img {
	height: 44px;
}

.trackTitle{
	width: 100%;
	position: absolute;
	text-align: center;
	font-family: solomon_sans_boldbold;
	top: 140px;
	color: rgb(101, 118, 132);
	font-size: 18px;
	z-index: 2;
}

.artistName{
	top: -15px;
	width: 100%;
	position: relative;
	text-align: center;
	font-family: solomon_sans_normalregular;
	font-size: 10px;
	color: rgb(101, 118, 132);
	z-index: 2;
}

.sectionTitle {
	width: 100%
	text-align: center;
	border-bottom: 1px solid #ff5a6e;
	color: #ff5a6e;
	line-height: 0.1em;
	margin: 10px 0 20px;
}

.sectionTitle span {
	background: #f1f2f5;
	padding: 0 20px;
}

@media (max-width: 479px) {

	.widget{
		width:320px;
		}
.numberOfTracks .downloadLink{
	display: none;
}
.artistName{
	top:-18px;
}
}
